.App {
  font-family: sans-serif;
  text-align: center;
}

.body {
  line-height: 1.7;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 0px;
}

.logo h1:hover {
  color: #ff6633;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.main-nav {
  list-style: none;
  display: flex;
  font-size: 1.25rem;
  margin-top: 34px;
}
.main-nav li {
  margin-left: 36px;
}

.main-nav li:hover {
  color: #666666;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #ff6633;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("../src/images/back.jpeg");
}

.homeContent {
  min-height: 100vh;
}
